.WeatherForecast {
  text-align: center;
}

.card-next-days {
  background: transparent;
  border: 2px solid #ebf7fd;
  border-radius: 15px;
  margin-top: 10px;
  padding: 0px;
}

.card-body {
  padding: 6px;
}

.WeatherForecast-temperatures {
  font-size: 11px;
}

.WeatherForecast-day {
  font-size: 13px;
  font-weight: bold;
}
